:root {
  --toastify-toast-min-height: 3.5rem;
  --toastify-toast-width: 15rem;
  --main-min-width: clamp(340px, 80%, 800px);
}

* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-color: #222831;
}

.blue-two {
  background-color: #323b48;
}

h1 {
  margin: 0 0 12px 0;
  font-size: 3rem;
  max-width: 400px;
}

p {
  color: #fff;
  font-size: 0.875rem;
  text-align: left;
  background-color: #323b48;
  padding: 0 12px;
}

.subheading {
  font-size: 0.875em;
  margin-top: 6px;
}

.white-text {
  color: #fff;
  text-align: center;
}

.examples-text {
  max-width: 525px;
  border-radius: 6px;
  padding: 12px;
  margin: 24px 0 12px 0;
}

.examples {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.example {
  display: flex;
  flex-direction: column;
  padding: 12px;
  margin: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.example:hover {
  background-color: #2a313c;
  transition: background-color 0.2s ease-out;
}

.example-text {
  padding-top: 8px;
  font-weight: 600;
  background-color: transparent;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 30%;
  align-items: center;
  padding: 30px 0 20px 0;
  margin: auto;
  min-width: var(--main-min-width);
}

.navlogo,
.navlist > li > a {
  font-weight: 600;
  font-size: 1.15rem;
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.navlogo:hover,
.navlist > li > a:hover {
  text-decoration: none;
  color: #aaa;
}

.navlist {
  list-style: none;
}

.navlist > li {
  display: inline-block;
  padding-left: 40px;
}

.page {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  align-items: center;
  padding: 8px 0;
  margin: auto;
  min-width: var(--main-min-width);
}

.char-info {
  color: #fff;
  min-width: var(--main-min-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  /* background-color: #2e3541; */
  border-radius: 6px;
}

.char-image {
  height: 96px;
  border-radius: 6px;
}

.char-name {
  margin: 5px 0;
  font-size: 2rem;
  max-width: none;
}

.char-header {
  display: flex;
  flex-direction: row;
  padding: 25px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 8px;
  font-size: 1rem;
}

.search {
  padding: 24px 0;
  width: 100%;
  min-width: var(--main-min-width);
}

.search input {
  background-color: #fff;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 600;
  height: 43px;
  width: 100%;
  padding: 0 0 0 15px;
  color: #000;
}

.search input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 0.85);
  transition: all 0.2s ease-in-out;
}

.dataresult {
  margin: 5px 0 0 0;
  width: 100%;
  max-height: 250px;
  border: none;
  font-size: 1rem;
  font-weight: 600;
  border-radius: 6px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.dataresult::-webkit-scrollbar {
  display: none;
}

.dataresult .dataitem {
  width: 100%;
  height: 43px;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  cursor: default;
  background-color: #fff;
  color: #000;
}

.dataitem:hover {
  background-color: #ccc;
  transition: background-color 0.1s ease-out, box-shadow 0.1s ease-out;
}

.spinner {
  margin: 75px 0;
  width: 64px;
  height: 64px;
  border: 8px solid;
  border-color: #fff transparent #fff transparent;
  border-radius: 50%;
  animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

input[type='radio'] {
  display: none;
}

.char-form,
.char-form > * {
  background-color: #323b48;
  border-radius: 6px;
}

.val-header {
  display: flex;
  padding: 25px 0 10px 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.1rem;
  font-weight: 700;
}

.char-val {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.width-values-main {
  width: 90%;
}

.width-values {
  width: 80%;
}

.char-val-main > .char-val-radio + label {
  margin: 20px 0;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 35px;
}

.char-val-radio + label {
  cursor: pointer;
  margin: 0;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  border: solid 1px #323b48;
  background-color: #212830;
  flex-grow: 1;
  flex-basis: 0;
  font-size: 1.05rem;
  font-weight: 700;
  line-height: 35px;
  text-align: center;
  transition: border-color 0.15s ease-out, color 0.25s ease-out,
    background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.char-val-radio:hover + label {
  border-color: #fff;
}

.char-val-radio:checked + label {
  background-color: #fff;
  color: #222831;
  border-color: #fff;
}

.char-val-radio:first-of-type + label {
  border-radius: 6px 0 0 6px;
}

.char-val-radio:last-of-type + label {
  border-radius: 0 6px 6px 0;
}

.addToListButton {
  cursor: pointer;
  margin: 35px auto 20px auto;
  color: #fff;
  background-color: #2a313c;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 700;
  height: 55px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.addToListButton:hover {
  background-color: #00000000;
  color: #ddd;
}

.addToListButton:active {
  background-color: #212830;
  color: #aaa;
}

.item-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: max(340px, 100%);
  background-color: #323b48;
  border-radius: 6px;
  margin: 24px 0 0 0;
  padding: 4px;
}

.item-overview-header {
  color: white;
  text-align: center;
  font-weight: 800;
  font-size: 1.5rem;
}

.item-overview-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 0 4px 15px 4px;
}

.item-container {
  position: relative;
  text-align: center;
  color: white;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-container:hover .item-hover-text,
.servant-container:hover .item-hover-text {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-out, visibility 0.2s ease-out;
}

.item-icon {
  height: 64px;
  width: 64px;
}

.item-hover-text {
  text-align: center;
  position: absolute;
  border: 2px solid #323b48;
  border-radius: 8px;
  width: max-content;
  padding: 8px;
  z-index: 1;
  opacity: 0;
  font-weight: 700;
  transform: translate(0, -140%);
  visibility: hidden;
}

.item-text {
  position: absolute;
  bottom: 4px;
  right: 4px;
  font-size: 0.9rem;
  font-weight: 700;
  background: none;
  text-shadow: -1px 1px 0 #000, 1px 1px 0 #000, 1px -1px 0 #000,
    -1px -1px 0 #000;
}

.servant-icon {
  height: 64px;
  border-radius: 8px;
}

.servant-text {
  padding: 0 15px 0 5px;
  font-weight: 700;
}

.servant-overview-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 0 4px 10px 4px;
}

.servant-container {
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 4px;
}

.servant-icon:hover,
.item-icon:hover {
  opacity: 0.5;
  transition: opacity 0.2s ease-out;
  cursor: pointer;
}

.Toastify__toast-container {
  background-color: transparent;
}

.Toastify__toast {
  border-radius: 8px;
}

.Toastify__toast-body,
.Toastify__toast-body > * {
  background-color: white;
  font-weight: 600;
  text-align: center;
  color: black;
  font-family: 'Inter', sans-serif;
  font-size: 1rem;
}

.Toastify__toast--default {
  background-color: white;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  border-radius: 6px;
  position: relative;
  padding: 32px;
  width: 100%;
  max-width: 600px;
  background-color: #323b48;
}

.popup .char-info div,
.popup .char-info div h1 {
  background-color: #323b48;
}

.popup .char-form {
  border-radius: 0;
}

.popup-close-btn {
  border: none;
  color: white;
  border-radius: 5px;
  line-height: 0;
  font-size: 1.5rem;
  position: absolute;
  top: 16px;
  right: 16px;
  padding: 0;
  cursor: pointer;
}

.deleteButton {
  cursor: pointer;
  margin: auto;
  color: #fff;
  background-color: #6d2f2f;
  border: none;
  border-radius: 6px;
  font-size: 1.1rem;
  font-weight: 700;
  height: 55px;
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  transition: background-color 0.15s ease-out, box-shadow 0.15s ease-out;
}

.deleteButton:hover {
  background-color: #00000000;
  color: #ddd;
}

.deleteButton:active {
  background-color: #4b2828;
  color: #aaa;
}

.empty-text {
  background-color: #323b48;
  color: rgb(255, 255, 255);
  font-weight: 400;
  text-align: center;
}
