* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
  background-color: #1d1f25;
}

.infotext > *,
.infotext > * > *,
.editstats > *,
.currentstats > *,
.currentstats > * > *,
.goalstats > *,
.goalstats > * > *,
.slider > *,
.skillnum {
  background-color: #272a35;
}

.navbar {
  display: flex;
  justify-content: space-between;
  max-width: 52%;
  align-items: center;
  padding: 15px 0;
  margin: auto;
  min-width: 385px;
}

.navlogo,
.navlist > li > a {
  font-weight: 600;
  text-decoration: none;
  color: #fff;
  transition: all 0.1s ease-in-out;
}

.navlogo:hover,
.navlist > li > a:hover {
  text-decoration: none;
  color: #aaa;
}

.navlist {
  list-style: none;
}

.navlist > li {
  display: inline-block;
  padding-left: 40px;
}

.searchpage,
.listpage {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  align-items: center;
  padding: 15px 0;
  margin: auto;
}

.searchbar {
  color: white;
}

.displaycard {
  color: #fff;
  min-width: 385px;
  width: 70%;
  display: flex;
  flex-direction: column;
  margin: 25px 0 0 0;
}

.displayimage {
  max-height: 72px;
}

.info {
  background-color: #272a35;
  display: flex;
  flex-direction: row;
  padding: 35px;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
}

.infotext {
  padding: 0 15px 0 10px;
  background-color: #272a35;
  display: flex;
}

.infotext > div > h1 {
  margin: 0;
  padding: 0;
}

.rarity {
  margin: 3px 0 0 0;
  font-weight: 600;
  font-size: 18px;
}

.editstats {
  background-color: #272a35;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 250px;
  margin: 25px 0 0 0;
  border-radius: 15px 15px 0 0;
  align-items: center;
  justify-content: center;
}

.search {
  width: 70%;
  min-width: 385px;
}

.search input {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid #272a35;
  border-radius: 15px;
  font-size: 16px;
  font-weight: 500;
  height: 46px;
  width: 100%;
  padding: 0 0 0 15px;
  color: #fff;
}

.search input:focus {
  outline: none;
  border: 2px solid #aaa;
  background-color: rgba(255, 255, 255, 0.03);
  transition: all 0.1s ease-in-out;
}

.dataresult {
  margin: 5px 0 0 0;
  width: 100%;
  max-height: 250px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
  overflow: hidden;
  overflow-y: auto;
  scrollbar-width: none;
}

.dataresult::-webkit-scrollbar {
  display: none;
}

.dataresult .dataitem {
  width: 100%;
  height: 45px;
  display: flex;
  align-items: center;
  padding: 0 0 0 15px;
  color: #ccc;
  cursor: default;
}

.dataitem:hover {
  background-color: rgba(255, 255, 255, 0.03);
}

.classicon {
  margin: 6px 0px 0 6px;
  max-height: 29px;
}

.currentstats {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 18px;
  font-weight: 700;
  margin: 35px 20px;
  flex-shrink: 1;
}

.currentlvlatkhp {
  display: flex;
  margin-top: 14px;
}

.currentlvlatkhp input {
  margin: 0 14px 0 5px;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 0.15);
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
  height: 34px;
  max-width: 60px;
  padding: 0 0 0 5px;
}

.currentlvlatkhp input:focus {
  outline: none;
  border: 2px solid #aaa;
  background-color: rgba(255, 255, 255, 0.03);
  transition: all 0.1s ease-in-out;
}
.currentlvlatkhp div {
  margin: 6px 0 0 0;
}

.currentskills {
  margin-top: 3px;
}

.currentskills > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}

.cskilltitle {
  align-self: center;
  font-size: 20px;
}

.sliders {
  display: flex;
  justify-content: space-between;
  background-color: #272a35;
}

.slider {
  margin-right: 10px;
  justify-content: space-between;
  background-color: #272a35;
  accent-color: #5dadac;
}

.skilllvl {
  width: 24px;
  margin: auto;
  /* border: 1px solid red; */
  background-color: #272a35;
}

.addToListButton {
  margin: 0 0 0 0;
  color: #fff;
  background-color: #333847;
  border: none;
  border-radius: 0 0 15px 15px;
  font-size: 18px;
  font-weight: 500;
  height: 46px;
  width: 100%;
}

.addToListButton:hover {
  background-color: #303442;
}

.addToListButton:active {
  background-color: #23252e;
}
